<div class="container">
  <div  class="row">
    <div class="col-md-6 d-flex align-items-center justify-content-center flex-wrap ">
      <img src="assets/Appointment.jpg" style="height:80vh;width: auto; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); margin-top: 10vh">
      <div class="appointment-card">
        <p>If you're ready to schedule an appointment or have any questions, please don't hesitate to call our friendly team:</p>
        <p class="phone-number"><mat-icon>phone</mat-icon><a href="tel:+905385960900">538 596 0900</a></p>
      </div>

    </div>
    <div class="col-md-6   d-flex  align-items-center justify-content-center flex-column">
      <h1 style="color : black; font-size: 2rem; margin-bottom: 2rem ">Consulting Hour</h1>
      <div class="card">
        <div class="row  card-row">
          <h3>Monday</h3>
          <p>08:00am  - 15:00pm </p>
        </div>
        <div class="row  card-row">
          <h3>Tuesday</h3>
          <p>08:00am  - 15:00pm </p>
        </div>
        <div class="row  card-row">
          <h3>Wednesday</h3>
          <p>08:00am  - 15:00pm </p>
        </div>
        <div class="row card-row">
          <h3>Thursday</h3>
          <p>08:00am  - 15:00pm </p>
        </div>
        <div class="row card-row">
          <h3>Friday</h3>
          <p>08:00am  - 15:00pm </p>
        </div>
        <div class="row card-row">
          <h3>Saturday</h3>
          <p>08:00am  - 15:00pm </p>
        </div>
      </div>
    </div>
  </div>
</div>
