<app-header></app-header>
<div class="landing-page">
  <div class="container">
    <div class="row  align-items-center">
      <div class="col-md-6 align-items-center">
        <img class="background-image" src="./assets/pexels-alex-green-5699454.jpg">
      </div>
      <div class="col-md-6 landing-title ">
        <h2 class="title-text">
          Embrace Your Journey:
        </h2>
        <h2 class="title-text " >
          A Place for Healing and Growth
        </h2>
        <p class="subtitle">
          Discover a Path to Inner Well-being and Positive Change.
        </p>
        <button mat-button class="make-appointment-button" ><a href="#Appointment" class="text-white text-decoration-none">Make Appointment</a></button>
      </div>
    </div>
  </div>
</div>
<div class="under-page">
  <div class="container">
    <div class="row mt-2">
      <div class="col-md-4">
        <img class="icons" src="assets/confidentiality.png">
        <h2>CONFIDENTIALITY</h2>
        <p>All our meetings are confidential and the information is protected.</p>
      </div>
      <div class="col-md-4">
        <img class="icons" src="assets/24-hours-support.png">
        <h2>SUPPORT 24/7</h2>
        <p>You can call me any time of the day. I am always ready to support you in difficult situation.</p>
      </div>
      <div class="col-md-4">
        <img class="icons" src="assets/dependable.png">
        <h2>RELIABILITY</h2>
        <p>I will never leave you in difficult moment. Call me right now and make an appointment.</p>
      </div>
    </div>
  </div>
</div>
<div class="any-problem">
  <div class="container d-flex">
    <div class="row">
      <div class="col-md-6">
        <h2>Any more problems?</h2>
        <div class="d-flex align-items-center">
          <div class="line-problem"></div>
          <h2>Lets talk!</h2>
        </div>
        <img class="problems-img" src="assets/problems.jpg">
        <div class="card">
          <p style="font-size: 1.2rem;">"Never underestimate psychological problems. If you need to talk, there's nothing wrong with seeking a professional."</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div style="font-weight: 500;opacity: 0.3; color: #333333; font-size: 1.2rem">
            Our team of Counselors is experienced in dealing with issues of :
          </div>
          <div class="col-6 d-flex flex-column justify-content-center align-items-center">
            <div class="problems-box">Heavy Stress</div>
            <div class="problems-box">Anxiety</div>
            <div class="problems-box">Depression</div>
            <div class="problems-box">Career & Job</div>
            <div class="problems-box">Relationship</div>
            <div class="problems-box">Teen & Kids</div>
          </div>
          <div class="col-6 d-flex flex-column justify-content-center align-items-center">
            <div class="problems-box">Sexuality</div>
            <div class="problems-box">Trauma</div>
            <div class="problems-box">Social Relations</div>
            <div class="problems-box">Personality</div>
            <div class="problems-box">Family Conflict</div>
            <div class="problems-box">Bipolar</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section id="About" style="background-color: #F7F9FB; height: auto;" class="mt-5 mb-5 p-5">
  <div class="container ">
    <div class="row mt-4 justify-content-center">
      <div class="col-md-6  text-center">
        <img class="about-img" src="assets/pexels-cottonbro-studio-4100653.jpg">
      </div>
      <div class="col-md-6 ">
        <h1 style="font-size: 2rem">Kerem Sav</h1>
        <h3 style="font-size: 1.2rem">Psychologist</h3>

        <p>
          Welcome to my practice! I'm Kerem, a dedicated and compassionate psychologist with a deep passion for helping individuals find their path to emotional well-being and growth.
        </p>
        <p>
          My journey in psychology began with a simple belief: that every person deserves a safe space to explore their thoughts, feelings, and experiences. Over the years, I have had the privilege of witnessing incredible transformations as my clients navigate their challenges and discover their inner strengths.
        </p>
        <p>
          With a focus on holistic healing, I provide a warm and non-judgmental environment where you can freely express yourself. Together, we will work collaboratively to uncover insights, develop coping strategies, and embark on a journey towards positive change.
        </p>
        <button mat-button class="learn-button" (click)="openDialog()"><span class="text-white">Learn More</span></button>
      </div>
    </div>
  </div>
</section>

<div class="process">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <h1>Counselling</h1>
        <div class="d-flex align-items-center">
          <div class="horizontal-line">
          </div>
          <h1>process</h1>
        </div>
        </div>
      <div class="col-md-4 col-sm-6">
        <h3 class="subtle-bold-text">
          Effective because it can talk directly with the Counselor. Comfortable at an affordable price.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="process-card">
          <img class="counsel-img" src="assets/counsel-1.jpg">
          <div class="card">
            <div class="card-number">
              01
            </div>
            <div class="card-info">
              <h2>Schedule Counseling</h2>
              <p>Schedule counseling with a counselor who is an expert in your problem.</p>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="process-card">
          <img class="counsel-img" src="assets/counsel-2.jpg">
          <div class="card">
            <div class="card-number">
              02
            </div>
            <div class="card-info">
              <h2>Start Talking</h2>
              <p>Tell all your problems with a counselor and be open in problems.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="process-card">
          <img class="counsel-img" src="assets/counsel-3.jpg">
          <div class="card">
            <div class="card-number">
              03
            </div>
            <div class="card-info">
              <h2>Live Better</h2>
              <p>Start the journey of a better future in your life with a positive trend.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section style=" background-color: #F7F9FB; height:auto;" id="Appointment">
  <div class="container">
    <app-appointment></app-appointment>
  </div>
</section>

<section id="Contact">
  <div class="container">
    <app-contact></app-contact>
  </div>
</section>

<app-footer></app-footer>
