.landing-page {
  position: relative;
  background-color: #F7F9FB;
  display: flex;
  justify-content: center;
  min-height: 75vh;
  height: auto;
  width: 100%;
}

.under-page {
  position: relative;
  min-height: 25vh;
  height: auto;
  display: flex;
  background-color: #F7F9FB;

}

.background-image {
  margin-top: 10vh;
  height: auto;
  max-width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;
}
.background-image:hover {
  transform: scale(1.04);
}


.landing-title {
  text-align: center;
  padding: 20px;
  color: black;
}

.title-text {
  font-size: 2rem; /* Adjust as needed */
  margin-top: 20px;
}

.subtitle {
  font-size: 1.2rem;
  color: black;
  text-align: center;
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto; /* Center the paragraph horizontally */
}

.make-appointment-button {
  font-size: 1.5rem;
  padding: 15px 30px; /* Adjust padding to increase button size */
  margin-top : 2.4rem;
  height: auto; /* Allow the button to expand in height */
  width: auto; /* Allow the button to expand in width */
  background-color: #333333;
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.make-appointment-button:hover {
  transform: scale(1.05);
}
.learn-button {
  font-size: 1rem;
  padding: 10px 20px; /* Adjust padding to increase button size */
  margin-top : 1rem;
  height: auto; /* Allow the button to expand in height */
  width: auto; /* Allow the button to expand in width */
  background-color: #333333;
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.learn-button:hover{
  transform: scale(1.05);
}

.icons {
  align-items: center;
  height: 72px;
  width: 72px;
}

.about-img {
  height: auto;
  margin-bottom: 30px;
  max-width: 100%;
  max-height: 80vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

}
.counsel-img {
  height: auto;
  max-width: 100%;
  clip-path: ellipse(70% 80% at 50% 90%);
}
p {
  font-size: 1rem;
}

.process {
   /* Set the background color of the section */
  padding: 40px 0; /* Add some padding around the content */
  display: flex;

}

.horizontal-line {
  width: 60px; /* Adjust the width of the line */
  height: 2px; /* Adjust the height of the line */
  background-color: black; /* Set the color of the line */
  margin-bottom: 10px;
}

.line-problem {
  width: 110px; /* Adjust the width of the line */
  height: 2px; /* Adjust the height of the line */
  background-color: black; /* Set the color of the line */
  margin-bottom: 20px;
  margin-right: 10px;
}


.process h1 {
  font-size: 2.4rem;
}

.subtle-bold-text {
  font-weight: 600; /* Adjust the font weight to your preference */
  color: #888; /* Choose a color that gives a subtle appearance */
  opacity: 0.8; /* Adjust the opacity for a faded effect */
}

.process-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  top : -50px;
  width: 90%;
  border : none;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
  transform : scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.any-problem .card{
  top : -50px;
  left: 0;
  width: 60%;
  border : none;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}


.card-number {
  font-size: 1.5rem;
  line-height: 100px;
  font-weight: bold;
  margin-right: 10px;
  border-right: 2px solid #333;
  padding-right: 10px;
  width: 30%;
  text-align: center;
}

.card-info {
  text-align: center;
}
.card-info h2 {
  font-size: 1.5rem;
  font-weight: bold;

}
.card-info p {
  font-size : 1.2rem;
}

.problems-img {
  max-width: 100%;
  border: 2px solid transparent;
  border-left : 2px solid black;
  height: auto;
  margin-top: 30px;
  clip-path: ellipse(90% 90% at 0% 50%);
  background: linear-gradient(to right,black,white);
}
.any-problem {
  display: flex;
  margin-top: 20px;
}
.any-problem h2 {
  font-size: 2rem;
}

.problems-box {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: #333333;
  color: white;
  padding: 15px 0;
  margin: 20px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.problems-box:hover {
  transform: scale(1.05);
}

.about {
  background-color: #F7F9FB;
}


@media (max-width: 768px) {
  .counsel-img {
    height: auto;
    max-width: 80%;
    clip-path: ellipse(70% 80% at 50% 90%);
  }

  .card {
    max-width: 70%;
  }
}



