<div class="container-fluid footer" >
  <div class="row d-flex flex-row justify-content-center align-items-center flex-nowrap ">
    <a class="icons-a" href="https://instagram.com"><img class="social-icons" src="assets/icons8-instagram-48.png"></a>
    <a class="icons-a" href="https://twitter.com/home"><img class="social-icons" src="assets/icons8-twitter-squared-48.png"></a>
    <a class="icons-a" href="https://facebook.com"><img class="social-icons" src="assets/icons8-facebook-48.png"></a>
  </div>
  <div class="row">
    <div class="footer-link">
        <a href="#">Home</a>
        <a href="#About">About Me</a>
        <a href="#Appointment">Appointment</a>
        <a href="#Contact">Contact</a>
        <a href="">Privacy</a>
    </div>
  </div>
  <div class="row">
    <p class="text-left">All rights reserved &copy; 2023</p>
  </div>
</div>
